<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Services we offer</h2>
    <h3>Providing a convenient self booking page</h3>
    <p>Our booking page aids you by giving a eligibility check and makes your life easier by having safe and secured process for vaccination. </p>
    <h3>Doctors Support</h3>
    <p>We provide you the support required to you in case of emergency by contacting the nearby available doctor.</p>
    <h3>Health Tips</h3>
    <p>Helping you with the tips which helps you to stay fit and fine.</p>
</body>
</html>

